.mainHirer{
    text-align: center;
}

.headHirer{
    font-size: larger;
}

.headHirer .userProfile{
    text-align: center;
    padding: 5px 5px;
    margin-left: 80%;
    transform: translate(0,-180%);
    background-color: black;
    color: white;
    border: black;
    border-radius: 15px;
    outline: none;
}

.headHirer .userProfile:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    cursor: pointer;
}


.split2{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 45%;
    height: 70%;
}

.left2{
    left: 5%;
}


.vertical2{
    position: absolute;
    left: 50%;
    border-left: 1px solid grey;
    height: 60%;
}

.right2{
    right: 5%;
}


@media only screen and (max-width: 767px){
    .mainHirer{
        text-align: center;
    }

    .headHirer{
        font-size: larger;
        display: block;
    }
    
    .headHirer .userProfile{
        position: absolute;
        right: 5%;
        padding: 8px 8px;
        width: 18px;
        height: 18px;
        transform: translate(0,-300%);
    }
    
    .split2{
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        /* height: 20%; */
        display: block;
    }
    
    .left2{
        position: absolute;
        left: 0;
    }
    
    .right2{
        position: absolute;
        top: 100%;
        right: 0;
    }
    
    .vertical2{
        border: none;
    }
}

@media screen and (max-width: 735px) and (max-height: 413px){
    .right2{
        top: 120%;
    }
    .vertical2{
        border: none;
    }
}